<h2 class="page-title">Liens</h2>

<div class="containerLink">

    <!-- Chargement du fichier Markdown -->
    <!-- <input type="file" accept=".md" (change)="onFileSelected($event)" /> -->
    <input pInputText type="file" accept=".md" (change)="onFileSelected($event)" pSize="large" placeholder="Large" />

    <!-- Barre de recherche -->
    <input type="search" placeholder="Rechercher des liens..." [(ngModel)]="query" (input)="searchLinks()" />
  
    <!-- Filtre par type -->
    <select (change)="filterByType($any($event.target).value)">
      <option value="">Tous les types</option>
      <option *ngFor="let t of types" [value]="t">{{ t }}</option>
    </select>
  
    <!-- Affichage des liens sous forme de cards -->
    <div class="grid grid-cols-2 gap-4">
      <div class="card" *ngFor="let link of links" 
           [ngStyle]="{'border-left': '5px solid ' + getColor(link.type)}"
           (click)="openLink(link.url)">
        <div class="card-header">
          <h3>{{ link.name }}</h3>
          <small>{{ link.type }}</small>
        </div>
        <div class="card-content">
          <p>{{ link.description }}</p>
        </div>
      </div>
    </div>
  
  </div>
  