/* gojs-diagram.component.scss */
/* Vous pouvez personnaliser l'apparence du composant ici */
.actions {
    margin: 10px 0;
    button {
      margin-right: 10px;
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  